<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>440363403895-3qd96bo1c4233gubio76ols1h2sm1128.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440363403895-3qd96bo1c4233gubio76ols1h2sm1128</string>
	<key>API_KEY</key>
	<string>AIzaSyARnLAJ3E6lzdEPGe7qP9M5HkNVz1aXhNw</string>
	<key>GCM_SENDER_ID</key>
	<string>440363403895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.asweb.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f8e1d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f8e1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440363403895:ios:83b7e79e0361b601</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-f8e1d.firebaseio.com</string>
</dict>
</plist>